boto3==1.37.38
botocore==1.37.38
dnspython==2.6.1
Faker==35.2.2
greenlet==3.1.1
jmespath==1.0.1
numpy==1.24.4
pandas==2.0.3
psycopg2==2.9.10
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.2
s3transfer==0.11.5
six==1.17.0
sqlalchemy==2.0.51
typing-extensions==4.13.2
tzdata==2026.2
urllib3==1.26.20
